body {
  background: black;
  margin-top: 20px;
}

.btn.btn-warning,
.btn.btn-danger {
  color: black;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn.btn-warning {
  background-color: #eea236;
}

.btn.btn-warning:hover {
  background-color: #f0ad4e;
}

.btn.margin-top {
  margin-top: 50px;
}