extends ../layout

block styles
  link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
  link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
  // SCRIPTS
  script(type="text/javascript", src="/linker/js/socket.io.js")
  script(type="text/javascript", src="/linker/js/sails.io.js")
  script(type="text/javascript", src="/linker/js/app.js")
  script(type="text/javascript", src="/js/jquery-1.10.1.min.js")
  script(type="text/javascript", src="/js/jquery-migrate-1.2.1.min.js")
  script(type="text/javascript", src="/js/scenes.js")
  // SCRIPTS END
  // STYLES
  link(rel="stylesheet", href="/linker/styles/style.css")
  // STYLES END

block body
  .container.clearfix.main-container
    for scene in scenes
      if scene.name == "default"
        a.btn.btn-block.btn-danger.fire-scene(href="#", data-scene-id=scene.name, data-duration=scene.duration)= scene.name
      else
        a.btn.btn-block.btn-warning.fire-scene(href="#", data-scene-id=scene.name, data-duration=scene.duration)= scene.name